 body{background-color: black;
  color:green;
}
img {
  border-radius: 8px;}

  img:hover {
    transform: scaleX(-1);
  
  }
 
  body {
    font-family: "Space Mono", monospace;}


  

